@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  height: auto;
  color: #222;
  background-color: #e6f8e1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 10rem;
}

li {
  list-style: none;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120rem;
  gap: 4rem;
  padding: 6rem 0;
  margin: 0 1rem;
  border-radius: 25px;
  border: 2px solid #222;
  outline: 2px solid #222;
  background-color: #d7fce6;
  outline-offset: 1.2rem;
}

h1 {
  font-weight: 400;
  font-size: 6rem;
  letter-spacing: 2px;
  word-spacing: 5px;
}

h2 {
  text-align: center;
  margin-bottom: 2.4rem;
}

h3 {
  text-align: center;
  margin-bottom: 2rem;
}

input {
  border-radius: 20px;
  font-family: inherit;
  color: inherit;
  font-size: 2rem;
  background-color: #f8f8f8;
  padding: 1.6rem 3.2rem;
  border: none;
  width: 32rem;
  text-align: center;
}

input:focus {
  outline: 2px solid #222;
}

.today {
  display: flex;
  border-radius: 15px;
  background-color: #c2eef8;
  padding: 1.6rem 0 2rem;
  width: 25rem;
  align-self: center;
  margin: 3rem auto;

  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  cursor: pointer;
  padding: 2rem;
}

.weather-icon {
  font-size: 5.2rem;
}

/* .weather {
  list-style: none;
  display: flex;
  gap: 2.4rem;
} */

.container {
  flex: 1;
  display: flex;
  overflow: auto;
  flex-direction: row;
  width: 115rem;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}

.container::-webkit-scrollbar {
  height: 10px;
}

.container::-webkit-scrollbar-track {
  background: rgb(214, 214, 214);
  border-radius: 20px;
}

.container::-webkit-scrollbar-thumb {
  background-color: rgb(180, 180, 180);
  border-radius: 20px;
}

.hourly {
  min-width: min-content;
  gap: 1rem;
  display: flex;
}

.hour {
  border-radius: 15px;
  background-color: #c2eef8;
  padding: 1rem 0 2rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.hour span {
  font-size: 3rem;
}

.weather {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: center;
  align-content: center;
}

.day {
  border-radius: 15px;
  background-color: #c2eef8;
  padding: 1.6rem 0 2rem;
  width: 15.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  cursor: pointer;
}

.weather-icon {
  font-size: 5.2rem;
}

.wind-direction {
  font-size: 2rem;
}

.day.important {
  background-color: #ecc5c0;
  outline: 2px solid #222;
}

.loader {
  font-size: 2.4rem;
  font-weight: 700;
}

.btn {
  font-size: inherit;
  font-family: inherit;
  padding: 1rem;
  border-radius: 15px;
  border: none;
  font-weight: 600;
  background-color: #92f793;

  vertical-align: center;
  cursor: pointer;
  transition-duration: 0.5s;
}

.btn:hover {
  background-color: #60d561;
  transition-duration: 0.5s;
}

@media screen and (max-width: 980px) {
  body {
    margin: 1rem 1rem;
    height: auto;
  }
  h1 {
    font-size: 3rem;
    letter-spacing: 0;
    word-spacing: 0;
  }
  .app {
    width: 44rem;
    border: none;
    outline: none;
  }
  .weather {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    justify-content: center;
    align-content: center;
  }
  .day {
    padding: 1.1rem 0 2rem;
    width: 12rem;
  }

  .today {
    display: flex;
    border-radius: 15px;
    background-color: #c2eef8;
    padding: 1.6rem 0 2rem;
    width: 38rem;
    align-self: center;
    margin: 3rem auto;

    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    cursor: pointer;
    padding: 2rem;
  }

  .weather-icon {
    font-size: 4.2rem;
  }

  .day p {
    font-size: 1.6rem;
  }

  .container {
    flex: 1;
    display: flex;
    overflow: auto;
    flex-direction: row;
    width: 40rem;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
  }

  .container::-webkit-scrollbar {
    height: 10px;
  }

  .container::-webkit-scrollbar-track {
    background: rgb(214, 214, 214);
    border-radius: 20px;
  }

  .container::-webkit-scrollbar-thumb {
    background-color: rgb(180, 180, 180);
    border-radius: 20px;
  }

  .hourly {
    min-width: min-content;
    gap: 0.5rem;
    display: flex;
  }

  .hour {
    border-radius: 15px;
    background-color: #c2eef8;
    padding: 0.8rem 0.5rem;
    width: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    cursor: pointer;
    font-size: 1.2rem;
  }

  .hour span {
    font-size: 3rem;
  }
}
