@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --bgColor: #9be3f3;
  --component: #c2eef8;
}

/* #c2eef8 #9be3f3 */

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  height: auto;
  color: #222;
  background-color: var(--bgColor);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 10rem;
}

/* #e6f8e1 #d7fce6*/

li {
  list-style: none;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120rem;
  gap: 4rem;
  padding: 6rem 0;
  margin: 0 1rem;
  border-radius: 25px;
  border: 2px solid #222;
  outline: 2px solid #222;
  background-color: var(--bgColor);
  outline-offset: 1.2rem;
}

img {
  filter: contrast(140%);
}

h1 {
  font-weight: 400;
  font-size: 6rem;
  letter-spacing: 2px;
  word-spacing: 5px;
}

h2 {
  text-align: center;
  margin-bottom: 2.4rem;
}

h3 {
  text-align: center;
  margin-bottom: 2rem;
}

input {
  border-radius: 20px;
  font-family: inherit;
  color: inherit;
  font-size: 2rem;
  background-color: #f8f8f8;
  padding: 1rem 1rem;
  border: none;
  width: 20rem;
  text-align: center;
}

input:focus {
  outline: 2px solid #222;
}

.location-icon {
  height: 22px;
  width: 22px;
  margin-bottom: -5px;
  margin-right: 5px;
}

.today {
  display: flex;
  border-radius: 15px;
  background-color: var(--component);
  padding: 1.6rem 0 2rem;
  width: 64rem;
  align-self: center;
  margin: 3rem auto;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
}

.params-container {
  display: grid;
  border-radius: 15px;
  background-color: var(--component);

  width: auto;

  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
  cursor: pointer;
}

.param {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.param--value {
  text-align: right;
}

.param--t {
  grid-template-columns: 3fr 2fr;
}

.today--params {
  border-radius: 15px;
  background-color: var(--component);
  padding: 1rem 1rem 1rem 1rem;
  width: 30rem;

  display: flex;
  flex-direction: column;

  gap: 1.2rem;
  cursor: pointer;
}

.weather-icon {
  font-size: 5.2rem;
}

.weather-icon img {
  width: 64px;
  height: 64px;
}

.weather-icon--today {
  font-size: 5rem;
  margin-top: 5px;
  margin-bottom: -10px;
  margin-left: 2.2rem;
}

.weather-icon--today img {
  width: 128px;
  height: 128px;
}

/* .weather {
  list-style: none;
  display: flex;
  gap: 2.4rem;
} */

.container {
  flex: 1;
  display: flex;
  overflow: auto;
  flex-direction: row;
  width: 115rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.container::-webkit-scrollbar {
  height: 10px;
}

.container::-webkit-scrollbar-track {
  background: rgb(214, 214, 214);
  border-radius: 20px;
}

.container::-webkit-scrollbar-thumb {
  background-color: rgb(180, 180, 180);
  border-radius: 20px;
}

.hourly {
  min-width: min-content;
  gap: 1rem;
  display: flex;
}

.hour {
  border-radius: 15px;
  background-color: var(--component);
  padding: 1rem 0 2rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.hour span {
  font-size: 3rem;
}

.hour img {
  width: 40px;
  height: 40px;
  margin-bottom: -10px;
}

.weather {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: center;
  align-content: center;
}

.day {
  border-radius: 15px;
  background-color: var(--component);
  padding: 1.6rem 0 2rem;
  width: 15.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  cursor: pointer;
}

.day .weather-icon img {
  margin-bottom: -12px;
}

.weather-icon {
  font-size: 5.2rem;
}

.wind-direction {
  font-size: 2rem;
}

.day.important {
  background-color: #ecc5c0;
  outline: 2px solid #222;
}

.loader {
  font-size: 2.4rem;
  font-weight: 700;
}

.btn {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1rem;
  border-radius: 25px;
  border: none;
  font-weight: 400;
  background-color: var(--component);

  vertical-align: center;
  cursor: pointer;
  transition-duration: 0.5s;
}

.btn:hover {
  background-color: #7bdef4;
  transition-duration: 0.5s;
}

.clock {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
  margin-top: -2rem;
  font-size: 1.5rem;
}

.spinnerContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, white);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: rotate 1.5s infinite linear;
}

.status-container {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
}

.current-status {
  text-align: center;
  margin-top: 0.4rem;
  margin-left: 4.5rem;
  line-height: 2.5rem;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

@media screen and (max-width: 980px) {
  body {
    margin: 0 1rem;
    padding: 1rem 0;
    height: auto;
  }
  h1 {
    font-size: 3rem;
    letter-spacing: 0;
    word-spacing: 0;
  }
  .app {
    width: 40rem;
    border: none;
    outline: none;
    padding: 2rem 0;
  }
  .weather {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    justify-content: center;
    align-content: center;
  }
  .day {
    padding: 1.1rem 0 2rem;
    gap: 0.5rem;
    width: 12rem;
  }

  .today {
    display: flex;
    border-radius: 15px;
    background-color: var(--component);
    padding: 1.6rem 0 2rem;
    width: 37.8rem;
    align-self: center;
    margin: 3rem auto;

    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    cursor: pointer;
    padding: 2rem;
  }

  .weather-icon--today img {
    width: 100px;
    height: 100px;
    margin-bottom: -10px;
    margin-top: 10px;
  }
  /*
  .params-container {
    display: grid;
    border-radius: 15px;
    background-color: #c2eef8;

    width: auto;

    grid-template-columns: 1fr 1fr;
    gap: 0;
    cursor: pointer;
  }
*/

  .now {
    text-align: center;
    margin-top: 1rem;
    margin-right: 0rem;
    line-height: 2.5rem;
  }

  .params-container {
    display: grid;
    border-radius: 15px;
    background-color: var(--component);

    width: auto;

    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
    cursor: pointer;
  }

  .param {
    display: grid;
    grid-template-columns: 2fr 4fr;
  }

  .param--t {
    grid-template-columns: 3fr 2fr;
  }

  .param span {
    font-size: 1.2rem;
  }

  .param--value {
    text-align: right;
    font-size: 1.4rem !important;
    margin-top: 0;
  }

  .today--params {
    border-radius: 15px;
    background-color: var(--component);
    padding: 1rem 1rem 1rem 1rem;
    width: 17.9rem;

    display: flex;
    flex-direction: column;
    align-items: left;

    gap: 1.6rem;
    cursor: pointer;
    font-size: 1.6rem;
  }

  /*
  .today--params {
    border-radius: 15px;
    background-color: #c2eef8;
    padding: 1rem 0 1rem 1rem;
    width: 16.9rem;

    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    gap: 1.2rem;
    cursor: pointer;
    font-size: 1.6rem;
  } */

  .day .weather-icon img {
    margin-bottom: -5px;
  }

  .day p {
    font-size: 1.3rem;
  }

  .container {
    flex: 1;
    display: flex;
    overflow: auto;
    flex-direction: row;
    width: 37.8rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }

  .hourly {
    min-width: min-content;
    gap: 0.5rem;
    display: flex;
  }

  .hour {
    border-radius: 15px;
    background-color: var(--component);
    padding: 0.8rem 0.5rem;
    width: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    cursor: pointer;
    font-size: 1.2rem;
  }

  .hour span {
    font-size: 3rem;
  }
}
